
body
{
    background-image: url(../Image/background0.jpg);
   /* background-image: url(../Image/blue-fade.jpg);*/
    background-size:cover;
    background-repeat: no-repeat;
}


.flex-container
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 1200px;
}

.flex-item
{
    display: block;
    padding-top: 200px;
   
}

h2
{
    color: rgb(51, 238, 138,1);
}
h3
{
    color: rgb(51, 238, 138,1);
}
.text
{
    color: rgb(173, 248, 215);
}
.icon
{
    width:30px;
    height:30px;
    margin-right: 10px;
}

.profilePicture
{
    width: auto;
    height: auto;
    border-radius:20px;
}


.custom-link
{
    color:darkorange;
    text-decoration: none;
}
