/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333; /* Anthrazit */
}
.navbar{
    background-color: #2e2e2e; /* Anthrazit */
    color: #6b6b6b;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #2e2e2e; /* Anthrazit */
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.github-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.impressum-div {
    padding: 5px;
}

.profile-pic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .container {
        padding: 10px;
    }

    .start-btn {
        width: 80px;
        height: 25px;
    }

    .profile p {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .profile p {
        font-size: 14px;
    }

    .start-btn {
        width: 70px;
        height: 20px;
    }

    footer {
        padding: 5px;
        font-size: 14px;
    }

    .contact-div a, .impressum-div a {
        font-size: 14px;
    }
}



.game-board {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #484747;
}
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    text-align: center;
}

.cell:hover {
    background-color: #f0f0f0;
}

.game-info {
    margin-top: 20px;
    text-align: center;
    color: aqua;
}

#restart-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
