.container {
  display: grid;
  grid-template-columns: minmax(50px, auto);
  grid-template-rows: auto;
  border: 3px solid rgb(145, 8, 224);
}
.navbar {
  border: 3px solid rgb(109, 139, 20);
}
.navbar ul {
  display: grid;
  grid-template-columns: minmax(20px, 12fr) minmax(10px, 1fr) minmax(10px, 1fr);
  margin-right: 2%;
  justify-items: end;

  list-style: none;
  font-size: x-large;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul li a:hover {
  color: rgb(115, 21, 203);
}

.my-name {
  margin-right: auto;
}

/* Picture */
.pic-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 3px solid rgb(5, 47, 255);
}
.pic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.introtxt {
  border: 3px solid rgb(238, 226, 13);
}

.galery {
  border: 3px solid rgb(6, 227, 243);
}

.footer {
  border: 3px solid rgb(107, 233, 3);
}
