html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: rgb(63, 75, 83);
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  padding: 20px;
}
.impressum {
  flex-grow: 1;
  color: aliceblue;
  padding: 1%;
}
.intro-text {
  flex: 1; /* Take available space */
  max-width: 60%; /* Optional: Limit width of text */
  font-size: 120%;
  color: aqua;
  background-color: rgb(44, 42, 40);
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0 0 30px rgba(61, 65, 65, 0.539);
}

.profile-pic {
  flex: 0 0 auto; /* Fix size of the image container */
  margin-left: 20px; /* Add space between text and image */
}

.profile-pic img {
  width: 100%; /* Adjust as needed */
  max-width: 200px; /* Set a max width for the image */
  border-radius: 10%; /* Keep this styling */
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgb(51, 55, 58);
  border-radius: 10px;
  column-gap: 10%;
}
.nav-bar a {
  text-decoration: none;
  color: aliceblue;
}

.nav-bar a:hover {
  text-shadow: 0 0 10px rgba(192, 180, 180, 0.395);
}

footer {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(51, 55, 58);
  column-gap: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: aliceblue;
}

.git-logo img {
  margin-right: auto;
  min-width: 10px;
  min-height: 10px;
  max-width: 20px;
  max-height: 20px;
}
